@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Comforter+Brush&display=swap');

:root {
    --accent-color: #2a6e13;
    --body-text-color: rgb(65, 71, 64);
    --background-color: rgb(255, 255, 255);
    --text-shadow-color: rgb(7, 50, 55);
  }
  

  html {
    overflow-x: hidden;
  }

body{
    font-family: 'Barlow', sans-serif;
    color: var(--body-text-color);
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.title{
    color: white;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-family: 'Comforter Brush', cursive;
    font-size: 100px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 2px 2px 10px var(--text-shadow-color);
}

h2{
    font-family: 'Comforter Brush', cursive;
    font-size: 70px;
    text-align: left;
    margin: 0px;
    padding: 0, 0, 0, 0;
    color: var(--accent-color);
    margin-left: 3rem;

}

blockquote {
    font-family: 'Comforter Brush', cursive;
    font-size: 70px;
    text-align: center;
    margin-top: -20px;
    padding-top: 0px;
    color: var(--accent-color);
    display: block; 
    font-weight: 500;
}

h3{
    font-family: 'Comforter Brush', cursive;
    font-size: 70px;
    text-align: center;
    margin-top: -20px;
    padding-top: 0px;
    text-shadow: 2px 2px 10px var(--text-shadow-color);
    display: block;
}

p {
    letter-spacing: 1.3px;
    line-height: 130%;
    font-size: 18px;
    font-weight: 500;
    margin-left: 3rem;
    margin-right: 3rem;
}





.footer {
    width: 100%;
    max-height: 58rem;
    object-fit: cover;
    object-position: top;
    margin-top: -20rem;
}



.header {
        position: relative;
        text-align: center;
        color: white;
        min-height: 100vh;
        width: 100%;

        background-image: url("headerImageV1.png");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

}

.parallax {
    /* The image used */
    background-image: url('headerImageV1.png');
  
    /* Full height */
    height: 93vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.headerImg {
    width: 100%;
    position: relative;
    margin-top: -60%;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
}

section {
    width: 100%;
    margin: 30px;
    grid-column: 1;
    display:flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.halfImg {
    width: 80%;
    object-fit: contain;
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;

}

.halfImgBallyvaughan {
    width: 100%;
    max-height: 700px;
    object-fit: contain;
    display: grid;
    margin-right: 0;
    margin-left: auto;
    padding-right: 0;
    grid-column: 2;
}

.overText {
    width: 100%;
}

.textSection {
    position: absolute;
    transform: translate(0%, -10%);
    text-align: center;
    padding: 12rem;
}

.textSection h2 {
    text-align: center;
}

.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .underText {
    display: none;
  }

  @media only screen and (max-width: 1247px) {
    .textSection {
        padding-top: 16rem;
    }
}

@media only screen and (max-width: 1177px) {
    .textSection {
        padding-top: 25rem;
        padding-left: 14rem;
        padding-right: 14rem;
    }

    .textSection p {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .overText {
        width: 110%;
        margin-left: -5%;
    }
}

@media only screen and (max-width: 1107px) {
    .headerImg {
        bottom: -10%;
    }
}

@media only screen and (max-width: 1080px) {
    h1 {
        line-height: 80%;
        margin-bottom: 19px;
    }
}

@media only screen and (max-width: 974px) {
    .headerImg {
        bottom: -5%;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 5rem;
    }

    .halfImgBallyvaughan {
        grid-column: 1;
    }

    .halfImg {
        grid-column: 1;
    }

    h2 {
        text-align: center;
        margin: auto;
    }

    p {
        margin-top: 0px;
        margin-bottom: 40px;
    }

    section {
        width: 80%;
        text-align: center;
        justify-content: center;
        justify-items: center;
        float: none;
        margin: auto;
    }

    .textSection {
        width: 80%;
        text-align: center;
        justify-content: center;
        justify-items: center;
        float: none;
        margin: auto;
        grid-column: 1;
        padding: 0;
        margin-top: 8rem;
    }

    .overText {
        display: block;
        grid-column: 1;
        width: 150%;
        max-height: 700px;
        object-fit: contain;
        margin-right: auto;
        margin-left: -25%;
        padding-right: 0;
        margin-top: 8rem;
    }

    .overlappedRow {
        display: grid;
    }
}

@media only screen and (max-width: 773px) {
    .overText {
        display: none;
    }

    .underText {
        display: block;
        width: 100%;
        margin-top: -20rem;
    }

    .textSection {
        display: block;
        padding: 0;
        position: relative;
    }
}

@media only screen and (max-width: 714px) {
    .overText {
        display: none;
    }

    .underText {
        display: block;
        width: 100%;
        margin-top: -20rem;
    }

    .textSection {
        display: block;
        padding: 0;
        position: relative;
    }

    .textSection p {
        padding: 3rem;
    }
}

@media only screen and (max-width: 610px) {
    .underText {
        margin-top: -28rem;
        width: 180%;
        margin-left: -15%;
    }

    .textSection p {
        padding: 0;
    }

    .footer {
        width: 100%;
        max-height: 58rem;
        object-fit: cover;
        object-position: top;
        margin-top: 5rem;
    }

}

@media only screen and (max-width: 584px) {
    .headerImg {
        bottom: 0%;
    }


}

@media only screen and (max-width: 564px) {

    h1 {
        line-height: 80%;
        margin-bottom: 19px;
    }

}